<h1>Welcome </h1>
<table>
  <ng-container *ngIf="responsedata.length>0">
    <tr *ngFor="let response of responsedata; let i=index">
        <td>{{response.id}}</td>
        <td>{{response.title}}</td>
        <td>{{response.body}}</td>
    </tr>
  </ng-container>
    <tr *ngIf="!responsedata || responsedata.length ==0">
        <td colspan="5">No record found...</td>
    </tr>
</table>

<!-- <table style= "width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.body}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
  